* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #FBF3E8;
  padding: 20px;
}

.weekly-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.server-tasks {
  flex: 1;
  background-color: #7E8A75;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.server-tasks h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

#server-task-list {
  list-style: disc inside;
}

#server-task-list li {
  margin-bottom: 8px;
}
.bottom-panels {
  display: flex;
  gap: 20px;
}

.todo-list, .server-tasks {
  flex: 1;
  background-color: #7E8A75;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-list h3, .server-tasks h3 {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.year-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #7E8A75;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.year-nav h2 {
  font-size: 1.5rem;
}

.year-nav button {
  background-color: #FBF3E8;
  color: FBF3E8;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Month Grid */
.month-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.month-box {
  background-color: #7E8A75;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.month-box:hover {
  background-color: #3D4B34;
}


/* Month Navigation */
.month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #7E8A75;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.month-nav h2 {
  font-size: 1.5rem;
}

.month-nav button {
  background-color: #FBF3E8;
  color: FBF3E8;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Weekly View */
.weekly-view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.day {
  background-color: #7E8A75;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.date {
  font-weight: bold;
  font-size: 1.1rem;
}

/* To-Do List */
.todo-list {
  background-color: #7E8A75;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-list h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.todo-list ul {
  list-style: disc inside;
}

.todo-list li {
  margin-bottom: 8px;
}
